/*
    Names in use
    - Classes - 
    ModalContainer
    Modal
    ModalHeaderContainer
    ModalHeaderIconContainer
    ModalTimeSelectionContainer
    ModalTimeSelectionElement
*/

.ModalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99; /* Ensure it’s on top */
}

.Modal {
    height: 70%;
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 1200px;
    max-height: 520px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.ModalHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .ModalHeaderContainer i {
        font-size: 25px;
        color: crimson;
    }

    .ModalHeaderContainer input {
        height: 40px;
        width: 70%;
    }

    .ModalHeaderContainer i:hover {
        cursor: pointer;
        color: darkred;
    }

.ModalHeaderIconContainer {
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;
    margin-left: 0.5rem;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-toggle {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
    .dropdown-menu {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        border: 1px solid #ccc;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 184px;
        z-index: 1000;
    }
.dropdown-menu-item {
    display: flex;
    padding-bottom: 2px;
    padding-left: 2px;
}
    .dropdown-menu-item img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }

    .dropdown-menu li {
        padding: 10px;
        cursor: pointer;
    }
.selected {
    background-color: lightblue;
    cursor: pointer;
}
        .dropdown-menu li:hover {
            background-color: #f0f0f0;
        }

.ModalTimeSelectionContainer {
    display: flex;
    justify-content: space-evenly;
    width:60%;
    margin: 0 auto;
}
.ModalTimeSelectionElement {
    display: flex;
    flex-direction: column;
}

.ModalTimeSelectionElementCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ModalHeaderIconContainer select {
    width: 50%;
    padding: .375rem 0rem .375rem .75rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-right: 1rem;
}

.CloseModalWarningContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}
.CloseModalWarning {
    height: 15%;
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 540px;
    max-height: 70%;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999999;
    text-align: center;
}
.CloseModalButtonContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;

}

.CloseModalWarning button {
    width: 40%;
}

button:hover {
    cursor: pointer;
    opacity: 0.7;

}

.CloseModalButtonClose {
    background-color: red;
    color: white;
}
.CloseModalButtonBack {
    background-color: green;
    color: white;
}
.ModalDescriptionContainer{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
    .ModalDescriptionContainer textarea {
        width: 100%;
        height: 10rem;
        resize: none
    }
.ModalSaveContainer {
    width: 80%;
    margin: 0 auto;
    text-align: center;

}
.ModalSaveContainer button{
    padding: 10px 50px;
    background-color: lawngreen;
}