/* 
    Names in use
    - Classes -
TableHeaderContainer
*/

.table {
    width: 70% !important;
}

.TableHeaderContainer {
}
.TableHeaderContainer th {
    text-align: center;
    width: 230px;
}
    .TableHeaderContainer th:first-of-type {
        text-align: center;
        width: 130px;
    }

td {
    position: relative;
    height: 60px;
    padding-top: 0rem;
}

/*.activity-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    z-index: 1;
}

    .activity-card + .activity-card {
        z-index: 2;
    }*/

td {
    position: relative;
    height: 60px; /* Set a standard height for timeslots */
}

.activity-card {
    position: absolute;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;
    transition: all 0.2s ease; /* Optional: smooth hover effect */
}

    .activity-card:hover {
        background-color: deepskyblue !important; /* Optional: Highlight on hover */
        opacity: 0.9;
        cursor: pointer;
        z-index: 98;
    }
th {
    padding: 0.1rem;text-align: center;
}
    th img {
        width: 33%;
        border-radius: 50%;
        margin: 5px;
    }
.TableButton {
    height: 4rem;
}
td {
    text-align: center;
}
th button {
    width: 100%;
    height: 100%;
}

/*List Section*/
#ContentContainer {
    display: flex;
    width: 100%;
    height: 100%;
}

#ListSectionContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 30%;
}

.ListSectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.26rem;
}
    .ListSectionHeader div:first-of-type {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .ListSectionHeader div:first-of-type h2 
        {
            margin-bottom: 0;
        }
        .ListSectionHeader div:last-of-type {
            width: 20%;
            height: 100%;
            border-left: solid #dee2e6 1px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .ListSectionHeader div:last-of-type i {
            font-size: 3rem;
        }
            .ListSectionHeader div:last-of-type i:hover {
                cursor: pointer;
                color: lawngreen
            }
.ListContainer {
    border-right: solid #dee2e6 1px;
    border-bottom: solid #dee2e6 1px;
}