@inherits LayoutComponentBase
<div class="page">
    <main>
        <article style="padding-left: 0rem !important;
        padding-right: 0rem !important;">
            @Body
        </article>
    </main>
</div>
